
.main{
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.image{
  background-image: url('../public/maxresdefault.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  filter: blur(4px);
}
.form-main{
  width: 70%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  position:relative;
  z-index: 99;
}
.right-main{
  width: 30%;
  display: flex;
  justify-content: center;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 70%;
}
.form-label-select{
  font-size: 1rem;
  font-weight: 600;
  color: #ffbe00;
  font-family: Arial, Helvetica, sans-serif;
}
.form-div{
  display: flex;
  flex-direction: column;
}
.form-control{
  border-radius: 5px;
  padding: 10px;
  outline: none;
}
.btn{
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #FF5630;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;

}
.icon{
  font-size: 20px;
}